body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 50px auto 20px;
  width: 90%; /*720px;*/
  background: #fcfcfc;
  line-height: 1.45em;
}

a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}

#parcoord,
{
  height: 200px;
  margin: 12px 0;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}

#chart svg {
  height: 400px;
}

/*Table*/
=======
/* SlickGrid Table*/
#grid, #pager {
  /*position: fixed;*/
  width: 100%;
}
#grid {
  bottom: 0;
  height: 300px;
}
#pager {
  bottom: 306px;
  height: 20px;
}
div.slick-row:hover>div.slick-cell{
  background-color: yellow;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  opacity: 0;
}

circle.hidden {
  fill: #ccc !important;
}

.frame ~ circle {
  opacity: .7;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}
/*
#grid { height: 198px; }
  .row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
  .row:nth-child(odd) { background: rgba(0,0,0,0.05); }
  .header { font-weight: bold; }
  .cell { float: left; overflow: hidden; white-space: nowrap; width: 100px; height: 18px; }
  .col-0 { width: 180px; }
*/